@model WebApplication1.Models.Ingresso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingresso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroDias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroDias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorBasico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorBasico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
